
<html>
	<head>
	{% load static %}
		<title>Alexander Kwashie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js">

		{% load static %}
	<script  type="text/javascript" src = "{% static 'appo.js' %}"></script>

	</head>
	<body>
<div class="example-classname">FIRST</div>
<div class="example-classname">SECOND</div>

   </div>
</aside>



		<div id="wrappe">



  </body>
</html>