
<html>
	<head>

		<title>Alexander Kwashie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="style.css">



	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>

<div class="row Pages">

<div class="col-6 sec1a">
	<h1>HELLO</h1>
	<a href="#com">Jump</a>

	<p> Hello, my name is Alexander Kwashie and I am a self taught Fullstack Developer with a passion for software development</p>

	<p>After Graduation with a business Degree from the Universtiyt of Birmingham, I am currently
		working as a Business and Systems Ananlyst, but I have always had an interest in Software development and I am Looking forward for an opportunty to work a a Fullstack Dev.</p>

</div>

<div class="col-6 sec2a">
		<img class= "slide" src="img1.jpeg" alt="">
		<div class="min">
			<p >Alexander Kwashie</p><hr>
			<p>Fullstack Developer</p>
		</div>

	</div>

</div>


<div class=" row Pages">

	<div class="col-7 sec1c">
		<h3>Technical Skills</h3> <hr>
		<div class="container">
			<div class="row">
			  <div class="col-2">
				    <img src="" alt="">
				<p>Bootstrap</p>
			  </div>
			  <div class="col-2">
				  <img src="bootstrap.png/" alt="">
				<p>Bootstrap</p>
			</div>
			<div class="col-2">
					<img src="/imgss/bootstrap.png" alt="">
					<p>Bootstrap</p>
			</div>
			</div>
		  </div>

	</div>
	<div class="col-5 secd">
		<h3>Work Experience</h3> <hr>
	</div>
</div>



<div class="row Pages">

	<div class="col-7 sec1">
		<h3>Porfolio</h3> <hr>
	</div>
	<div class="col-5 sec2">
		<h3>Contact Me</h3> <hr>
	</div>


</div>



<script  type="text/javascript" src = appo.js></script>

	</body>

</html>