
<html>
	<head>

		<title>Alexander Kwashie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="style.css">



	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	</head>

	<body>

<div class="row Pages">

<div class="col-6 ">
	<h1>HELLO</h1>
	<a href="#com">Jump</a>
	<p> Hello, my name is Alexander Kwashie and I am a self taught Fullstack Developer with a passion for software development</p>

	<p>After Graduation with a business Degree from the Universtiyt of Birmingham, I am currently
		working as a Business and Systems Ananlyst, but I have always had an interest in Software development and I am Looking forward for an opportunty to work a a Fullstack Dev.</p>

</div>

<div class="col-6 new">
		<h1>YtELLO</h1>

	</div>

</div><hr>

<div id="com" class="Pages">SECOND
		<div class="container">
				<div class="row">

					 <!-- Skill Bars -->
						<div class="progress skill-bar ">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
								<span class="skill">HTML <i class="val">100%</i></span>
							</div>
						</div>

						<div class="progress skill-bar">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" >
								<span class="skill">CSS<i class="val">90%</i></span>
							</div>
						</div>
					</div>
				</div>
</div><hr>
<div class="Pages">SECOND</div><hr>


<script  type="text/javascript" src = appo.js></script>
	</body>

</html>