
<html>
	<head>

		<title>Alexander Kwashie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="style.css">



	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
	</head>

	<body>

<div class="row Pages">

<div class="col-6 sec1a">
	<br><br><br>

		<h3>About me</h3> <hr>
	<div class="about">
	<p> Hello, my name is </p>

		<h2>Alexander Kwashie.</h2>
		<br>
			<p> I am a self taught Fullstack Developer with a passion for software development.</p>

	<p>I Graduation from the University of Birmingham with a business Degree and I am currently
		working as a Business and Systems Analyst. I have always had a interest for Technology & Software
		development and I am looking for an opportunty to learn & develop software applications.</p>

			<div class=" profile">
					<a href="https://www.linkedin.com/in/alexander-amemornu-kwashie-36672996/" target="_blank"><img src="images/lik.png" alt=""></a>
					<a href="https://github.com/alexkwashie" target="_blank"><img src="images/git.png" alt=""></a>
			</div>

<br><br>
<div class="btn-container">
  <a href="mailto:alex.kwashie@hotmail.com" class="btn">Say Hello?</a>
</div>


	</div>
</div>

<div class="col-6 sec2a">
		<img class= "slide" src="img1.jpeg" alt="">
		<div class="min">
			<p >Alexander Kwashie</p><hr>
			<p>Fullstack Developer</p>
		</div>

	</div>

</div>


<div class=" row Pages">

	<div class="col-7 sec1c">
<br>


		<h3>Technical Skills</h3> <hr>
<br>

		<div class="container">
				<h5>Technologies</h5>

			<div class="row1 stack">

			  <div class="col-2">
				    <img src="images/py.png" alt="">
				<p>Python</p>
			  </div>
			  <div class="col-2">
				  <img src="images/cshap.png" alt="">
				<p>C Sharp</p>
			</div>
			<div class="col-2">
					<img src="images/nodejs.png" alt="">
					<p>NodeJs</p>
			</div>
			<div class="col-2">
					<img src="images/tys.png" alt="">
					<p>TypeScript</p>
			</div>

		  </div>



		  <h5 id="com">Web Stack</h5>

			<div class="row1 stack">

			  <div class="col-2">
				    <img src="images/HTML.png" alt="">
				<p>Html</p>
			  </div>
			  <div class="col-2">
				  <img src="images/css.png" alt="">
				<p>CSS</p>
			</div>
			<div class="col-2">
					<img src="images/js.jpg" alt="">
					<p>Javascript</p>
			</div>
			<div class="col-2">
					<img src="images/bootstrap.png" alt="">
					<p>Bootstrap</p>
			</div>

		  </div>


		  <h5>Framework etc.</h5>
			<div class="row1 stack">

					<div class="col-2">
							<img src="images/retna.png" alt="">
							<p>React-Native</p>
					</div>
			  <div class="col-2">
				    <img src="images/ret.png" alt="">
				<p>ReactJs</p>
			  </div>
			  <div class="col-2">
				  <img src="images/vu.png" alt="">
				<p>VueJs</p>
			</div>
			<div class="col-2">
					<img src="images/net.png" alt="">
					<p>ASP.net</p>
			</div>
			<div class="col-2">
					<img src="images/dj.png" alt="">
					<p>Django</p>
			</div>


		  </div>

		  <br>
		  <h5>Database and Engines</h5>

			<div class="row1 stack">

			  <div class="col-2">
				    <img src="images/dock.png" alt="">
				<p>Docker</p>
			  </div>
			  <div class="col-2">
				  <img src="images/sql.png" alt="">
				<p>SQL</p>
			</div>
			<div class="col-2">
					<img src="images/Tab.jpg" alt="">
					<p>Tableau</p>
			</div>
			<div class="col-2">
					<img src="images/mss.jpg" alt="">
					<p>SQL server</p>
			</div>
			<div class="col-2">
					<img src="images/post.png" alt="">
					<p>Postgres</p>
			</div>
			<div class="col-2">
					<img src="images/mog.png" alt="">
					<p>MongoDB</p>
			</div>

		  </div>



	</div>

	</div>



	<div class="col-5 sec2b">
	<br>
		<h3>Portfolio</h3> <hr class="style">

		<div class="container">

			<div class="row">

				  	<div class="col-1">
						<img src="images/py.png" alt="">
						<p>Python</p>
				  	</div>
			</div>

			<div class="row">

					<div class="col-1">
					  <img src="images/py.png" alt="">
					  <p>Python</p>
					</div>
		  </div>

		</div>
	</div>

</div>


<div class="row Pages">

	<div class="col-6 sec1a">
		<br>
		<h3>Work Experience & Education</h3> <hr class="style">

		<div class="about"></div>
					<h2>M.A Business Enterprise</h2>
					<p>The University of Birmingham</p>
					
					<h2>Busisiness & Systems Analysts</h2>
					</div>
	</div>



	<div class="col-6 sec2b">
			<br>
		<h3>Contact Me</h3> <hr class="style">
	</div>



	<footer>
<p>Designed & Built by Alexander Kwashie &copy; 2019</p>
	</footer>

</div>



<script  type="text/javascript" src = appo.js></script>

	</body>

</html>