
body, html {
	width: 100vw;
  height: 100vh;

  }


.Pages{
	text-align: center;
  height: 100%;
  width: 100vw;


}

hr {
  width: 50%;
  background-color: azure;
}

hr.style {
  width: 60%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(179, 156, 156, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.row{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
		align-items: center;
}

.row1{
  width: 100%;
  display: flex;
  height: 10px;
}

.col-2 img{
  padding-top:20px;
  width: 80%;
}

.row::after{
    display:table;
    clear: both;
    content: "";
}

/*Section 1*/
.sec2a{
  background-image: url("city.gif");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slide{
	border-radius: 50%;
	width: 32%;
	border:0.5rem rgba(247, 245, 237, 0.3) solid;
	padding: 7px;
	margin-top: 6rem;
	animation-name: img;
  animation-duration: 2s;
}

.sec1a{
  background-image: linear-gradient(to bottom right, rgb(244, 231, 245), rgb(255, 255, 255));
  height: 100%;
  width: 100%;
}


.col-6 h1{
	font-size:100%;
}

 .min{
   margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 4px #16011d;
    font-size: 25px;
    color: rgb(246, 250, 227);
}


/*Section 2*/


.sec1c{
  background-image: linear-gradient(to bottom right, rgb(244, 231, 245), rgb(255, 255, 255));
  height: 100%;
  width: 100%;
}

.stack{
  height: auto;
  width: 100%;
  border: #16011d solid 2px;
}

.sec2b{
  background-image: linear-gradient(to bottom right, rgb(245, 219, 253), rgb(250, 250, 226));
  height: 100%;
  width: 100%;
}

h5{
  text-align: left;
}





/*##########Grid#########*/
.col-1 { width:8.33%;}
.col-2 { width:16.66%;}
.col-3 { width:25%;}
.col-4 { width:33.33%;}
.col-5 { width:41.66%;}
.col-6 { width:50%;}
.col-7 { width:58.33%;}
.col-8 { width:66.66%;}
.col-9 { width:75%;}
.col-10 { width:83.33%;}
.col-11 { width:91.66%;}
.col-12 { width:100%;}




img{
	width: 32%;
	border:0.5rem rgba(247, 245, 237, 0.3) solid;
	padding: 7px;
	animation-name: img;
	animation-duration: 2s;
}


@keyframes img {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.col-7.sec1{
	background-image: linear-gradient(to bottom right, rgb(246, 230, 247), rgb(250, 250, 226));
	height: 100%;
}

footer{
  height: 5%;
  background-color: #16011d;
  width: 100%
}